<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfBmQq-OTg4hePcEaogicKSpLznbBEwXY</string>
	<key>GCM_SENDER_ID</key>
	<string>242003191694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sigortamcepte</string>
	<key>PROJECT_ID</key>
	<string>anadolu-sigorta-bb9d7</string>
	<key>STORAGE_BUCKET</key>
	<string>anadolu-sigorta-bb9d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242003191694:ios:8431ead612e140955ba6df</string>
</dict>
</plist>